<p id="notice"><%= notice %></p>

<p>
  <b>Message:</b>
  <%= @comment.message %>
</p>


<%= link_to 'Edit', edit_jobs_comment_path(@comment.jobs, @comment) %> |
<%= link_to 'Back', jobs_comments_path(@comment.jobs) %>
