<div class="container-fluid">
  <div class="top-part">
    <br><br><br>
    <h1 class="catch">Discover why the ritchest people in the world are not milloners,
  <br> They are Volunteers</h1>
  </div>
  <div class="why">
    <div class="container">
      <h2 id="whyv">Why volunteer?.. Because it's Awesome!</h2>
      <div class="row">
        <div class="moja col-md-6">
          <br><br>
          <h3 id="moja">From compassion to action.</h3>
        </div>
        <div class="col-md-1"></div>
        <div class="mbili col-md-4">
          <br><br>
          <h3 id="mbili">Volunteers make <br>each day brigher</h3>
        </div>
      </div>
      <div class="row">
        <div class="tatu col-md-4">
          <br><br>
          <h3 id="tatu">A gift to <br> the community</h3>
        </div>
        <div class="col-md-1"></div>
        <div class="nne col-md-6">
          <br><br>
          <h3 id="nne">The heart <br> of the community</h3>
        </div>
      </div><br>
      <div class="row">
        <div class="tano col-md-11">
          <h3 id="tano">We have the the cause, <br> you have the effect</h3>
        </div>
      </div>
    </div>
  </div>
</div>
