/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
  *= require toastr
 */

@import "bootstrap-sprockets";
@import "bootstrap";

// For the log in buttons
.moja{
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 4px;
}
.mbili{
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 4px;
}
// for the job provider sign up and sign in
// sign-up
.employer-sign-up{
  margin-top: 0px;
  background-image: url('https://cdn.pixabay.com/photo/2017/09/08/18/46/volunteers-2729696__340.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: auto;
  .form{
    background-color: rgba(100, 100, 100, 0.08);

    opacity: 1;
    margin-top: 154px;
    #apo{
      text-align: center;
      font-weight: 900;
      text-shadow: 1px 1px 0px #000;
      // to make it visible under the bright background
      font-family: 'Vollkorn SC', serif;
    }
    #kati{
      text-align: center;
    }
  }
}
@media only screen and (min-width: 1041px) {

  .cd{
    display: block;
    margin-left: 250px;
  }
}

// sign-in
.log{
  background-image: url('https://cdn.pixabay.com/photo/2016/04/13/13/13/volunteer-1326758_960_720.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  .log-in{
    background-color:  rgba(100, 129, 141, 0.46);

    opacity: 1;
    margin-top: 154px;
    
    #apo{
      text-align: center;
      font-weight: 900;
      text-shadow: 1px 1px 0px #000;
      // to make it visible under the bright background
      font-family: 'Vollkorn SC', serif;
    }
  }
}

// for the volunteer sign up and sign in
// sign up
.volunteer-sign-up{
  margin-top: 0px;
  background-image: url('https://cdn.pixabay.com/photo/2017/02/10/12/12/volunteer-2055043__340.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: auto;
  .form2{
    background-color: rgba(100, 100, 100, 0.08);

    opacity: 1;
    margin-top: 154px;
    #apo{
      text-align: center;
      font-weight: 900;
      text-shadow: 1px 1px 0px #000;
      // to make it visible under the bright background
      font-family: 'Vollkorn SC', serif;
    }
    #kati{
      text-align: center;
    }
  }
}
// For the job provider dashboard
.background{
height: 367px;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
}
.no-background{
  text-align: center;
  background-color: #d6e5fc;
  height: 367px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
